/* global styles very impressive good job wow */
html {
  font-family: helvetica, Arial, sans-serif;
  font-size: 10px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.inline-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.object {
  display: block; }

.inline-object {
  display: inline-block; }

.test {
  border: 1px dashed red; }

.page {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .page {
      max-width: 100%;
      margin: 0;
      justify-content: flex-start;
      align-items: center;
      overflow: hidden; } }

.pageWidth {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 600px) {
    .pageWidth {
      max-width: 100%;
      margin: 0;
      width: 100%; } }

.siteContainer {
  width: 82.5%;
  height: auto;
  margin: 0 auto; }
  @media only screen and (max-width: 600px) {
    .siteContainer {
      max-width: 87%;
      width: 87%;
      margin: 0; } }

.button {
  transition: .2s ease; }
  .button:hover {
    background-color: #4f5e7f;
    transition: .2s ease;
    cursor: pointer; }
  .button:hover .buttonText {
    color: white;
    cursor: pointer;
    transition: .2s ease; }
  .button .buttonText {
    z-index: 5; }
    .button .buttonText:hover {
      color: white;
      transition: .2s ease;
      cursor: pointer; }
  @media only screen and (max-width: 960px) {
    .button:active {
      background-color: #4f5e7f;
      transition: .2s ease; }
      .button:active .buttonText {
        color: white;
        transition: .2s ease; } }

a {
  color: inherit;
  text-decoration: none; }

.overlay {
  margin: 0 auto;
  padding: 0; }
  @media only screen and (max-width: 960px) {
    .overlay {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      background-color: rgba(79, 94, 127, 0.94);
      overflow-x: hidden;
      transition: 0.5s; } }
  .overlay a {
    display: none; }
    @media only screen and (max-width: 960px) {
      .overlay a {
        padding: 2rem 1rem;
        text-decoration: none;
        font-size: 4rem;
        color: white;
        display: block !important;
        transition: 0.3s; }
        .overlay a:hover, .overlay a:focus {
          color: #f1f1f1; } }
  @media only screen and (max-width: 960px) {
    .overlay .overlay-content {
      position: relative;
      top: 15%;
      width: 100%;
      text-align: center;
      margin-top: 30px; } }
  @media only screen and (max-width: 960px) {
    .overlay .closebtn {
      position: absolute;
      top: 5px;
      right: 10px;
      font-size: 60px;
      font-weight: 300; } }

/* header + nav + button + great times */
#headerContainer {
  height: 5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(79, 94, 127, 0);
  z-index: 10; }
  @media only screen and (max-width: 600px) {
    #headerContainer {
      width: 100%;
      max-width: 100%;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 7rem; } }

#headerSiteContainer {
  height: 100%;
  justify-content: space-between;
  align-items: center; }

#headerMainLogo {
  height: 5rem; }
  #headerMainLogo:hover {
    cursor: pointer; }
  @media only screen and (max-width: 600px) {
    #headerMainLogo {
      padding: 1rem 0; } }

#headerScrollLogo {
  display: none; }

#headerNavContainer {
  min-width: 45%;
  height: 6rem;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  color: white; }
  @media only screen and (max-width: 600px) {
    #headerNavContainer {
      color: #29477c;
      min-width: 30%; } }

#headerNav {
  align-items: center;
  justify-content: space-around;
  width: 75%;
  min-width: 75%;
  max-width: 75%;
  height: 100%;
  font-size: 1.7rem;
  margin-right: auto; }
  @media only screen and (max-width: 600px) {
    #headerNav {
      color: #29477c; } }

.navItem {
  transition: .2s ease; }
  .navItem:hover {
    opacity: .9;
    transition: .2s ease;
    cursor: pointer;
    padding-bottom: .3rem;
    border-bottom: 1px solid; }
  @media only screen and (max-width: 960px) {
    .navItem {
      display: none; } }

#contactButton {
  height: 80%;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid;
  font-size: 1.7rem; }
  #contactButton:hover {
    color: #29477c;
    background-color: white;
    border: 2px solid rgba(41, 71, 124, 0); }
  #contactButton:hover .buttonText {
    color: #29477c; }
  @media only screen and (max-width: 960px) {
    #contactButton {
      display: none; } }

#buttonOutline {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center; }

#headerContainer.whiteContainer {
  height: 5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10; }
  @media only screen and (max-width: 600px) {
    #headerContainer.whiteContainer {
      display: none; } }
  #headerContainer.whiteContainer #headerSiteContainer {
    height: auto;
    justify-content: space-between;
    align-items: center; }
    #headerContainer.whiteContainer #headerSiteContainer #headerMainLogo {
      display: none; }
    #headerContainer.whiteContainer #headerSiteContainer #headerScrollLogo {
      display: block;
      height: 5rem; }
      #headerContainer.whiteContainer #headerSiteContainer #headerScrollLogo:hover {
        cursor: pointer; }
      @media only screen and (max-width: 600px) {
        #headerContainer.whiteContainer #headerSiteContainer #headerScrollLogo {
          padding: 1rem 0; } }
    #headerContainer.whiteContainer #headerSiteContainer #headerNavContainer {
      min-width: 45%;
      height: 6rem;
      min-height: 100%;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      color: #29477c; }
      #headerContainer.whiteContainer #headerSiteContainer #headerNavContainer #contactButton:hover {
        color: white;
        background-color: #29477c; }
      #headerContainer.whiteContainer #headerSiteContainer #headerNavContainer #contactButton:hover .buttonText {
        color: white; }

#mobileNavBurger {
  display: none; }
  @media only screen and (max-width: 960px) {
    #mobileNavBurger {
      display: inline-block;
      z-index: 25;
      color: white;
      font-weight: 300;
      margin-left: 0;
      margin-right: 0;
      max-height: 60%;
      cursor: pointer; }
      #mobileNavBurger .bar1, #mobileNavBurger .bar2, #mobileNavBurger .bar3 {
        display: block;
        z-index: 30;
        width: 35px;
        height: 3px;
        background-color: white;
        margin: 8px 0;
        transition: 0.4s; } }

.fa-angle-down {
  position: fixed;
  bottom: 0;
  left: 50%;
  color: white;
  padding-bottom: 3rem; }
  @media only screen and (min-height: 830px) {
    .fa-angle-down {
      padding-bottom: 5rem; } }
  @media only screen and (min-height: 850px) {
    .fa-angle-down {
      color: #29477c;
      padding-bottom: 2rem; } }

.transparent {
  opacity: 0; }

.not-transparent {
  opacity: 1; }

/* banner -- get lit get live -- full bleed image with big words on top*/
#banner {
  margin-top: 0;
  background-image: url("../images/headerImageMain.png");
  height: 80rem;
  background-size: cover;
  background-position: center; }
  @media only screen and (max-width: 600px) {
    #banner {
      margin-top: 0;
      height: 55rem; } }

#bannerTextContainer {
  width: 82.5%;
  max-width: 82.5%;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white; }

#headlineTop {
  font-size: 5.4rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  font-weight: 300; }
  #headlineTop #banana {
    display: inline-block; }
  #headlineTop strong {
    font-weight: bold; }
  @media only screen and (max-width: 1100px) {
    #headlineTop {
      font-size: 5.5rem; } }
  @media only screen and (max-width: 600px) {
    #headlineTop {
      padding: 2rem;
      font-size: 6rem;
      margin-top: 2rem; }
      #headlineTop #banana {
        display: block; } }

/* fold one --- feature icons, fun text, great memories */
#foldOneContainer {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center; }

#foldOneSiteContainer {
  width: 82.5%;
  height: 100%;
  justify-content: space-between;
  align-items: center; }

#foldOneTextContainer {
  width: 65%;
  height: auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 4rem; }
  @media only screen and (max-width: 960px) {
    #foldOneTextContainer {
      padding-top: 7rem;
      width: 100%; } }

#f1TopText {
  font-size: 3.2rem;
  font-weight: 300;
  color: #29477c;
  font-weight: normal;
  text-align: center; }

#f1BottomText {
  display: none;
  font-size: 1.6rem;
  line-height: 2.8rem;
  text-align: center; }
  @media only screen and (max-width: 960px) {
    #f1BottomText {
      text-align: left; } }

#foldOneBoxes {
  justify-content: space-between;
  align-items: center;
  width: 86%;
  height: auto; }
  @media only screen and (max-width: 1100px) {
    #foldOneBoxes {
      width: 100%;
      max-width: 100%; } }
  @media only screen and (max-width: 600px) {
    #foldOneBoxes {
      flex-direction: row-reverse;
      width: 100%;
      margin-top: -1rem;
      margin-bottom: 10rem; } }

#threeSquares {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 0; }
  @media only screen and (max-width: 600px) {
    #threeSquares {
      flex-direction: column;
      width: 100%;
      max-width: 100%;
      align-items: center; } }

.featureSquare {
  width: 29%;
  max-width: 29%;
  justify-content: center;
  align-items: center;
  height: auto; }
  @media only screen and (max-width: 600px) {
    .featureSquare {
      width: 60%;
      max-width: 60%;
      align-items: center;
      justify-content: center;
      margin-top: -3rem; } }

.squareIcon {
  width: 100%;
  height: auto;
  margin: 0 auto; }

.squareTextMobile {
  display: none; }
  @media only screen and (max-width: 600px) {
    .squareTextMobile {
      display: block;
      font-size: 2.6rem;
      margin-top: -4rem;
      color: #29477c; } }

.squareWords {
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: -2.6rem;
  margin-bottom: 13rem; }
  @media only screen and (max-width: 800px) {
    .squareWords {
      margin-bottom: 5rem; } }

.squareInfo {
  width: 29%;
  max-width: 29%;
  justify-content: flex-start;
  align-items: center;
  height: auto; }
  .squareInfo #squareInfoTop1,
  .squareInfo #squareInfoTop2,
  .squareInfo #squareInfoTop3 {
    margin-bottom: 4rem;
    font-size: 2.4rem;
    color: #29477c; }
  .squareInfo #squareInfoBottom1,
  .squareInfo #squareInfoBottom2,
  .squareInfo #squareInfoBottom3 {
    font-size: 1.6rem;
    line-height: 2.7rem;
    text-align: center; }
    @media only screen and (max-width: 800px) {
      .squareInfo #squareInfoBottom1,
      .squareInfo #squareInfoBottom2,
      .squareInfo #squareInfoBottom3 {
        display: none; } }

@media only screen and (max-width: 600px) {
  #squareWordsRow {
    display: none; } }
/*fold three aka pricing aka money aka cashmoney */
#foldThreeContainer {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center; }

#foldThreeSiteContainer {
  width: 82.5%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto; }
  @media only screen and (max-width: 960px) {
    #foldThreeSiteContainer {
      width: 90%; } }
  @media only screen and (max-width: 600px) {
    #foldThreeSiteContainer {
      width: 90%; } }

/* basicaly just a headline; paragraph; button - in that order */
.textButtonContainer {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto; }
  @media only screen and (max-width: 600px) {
    .textButtonContainer {
      display: none; } }

.textButtonSiteContainer {
  justify-content: space-between;
  align-items: center;
  width: 82.5%;
  height: auto;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 960px) {
    .textButtonSiteContainer {
      width: 100%;
      max-width: 100%; } }

.textButtonLogoContainer {
  width: auto;
  height: auto;
  margin-bottom: 3rem; }
  .textButtonLogoContainer img {
    height: 6rem;
    margin: 0 auto; }

.textButtonTitle {
  font-size: 3.2rem;
  margin-bottom: 4rem;
  color: rgba(41, 71, 124, 0.6);
  font-weight: normal; }
  .textButtonTitle span {
    color: #29477c; }
  @media only screen and (max-width: 600px) {
    .textButtonTitle {
      font-size: 2rem;
      font-weight: bold;
      white-space: nowrap; } }

.textButtonParagraph {
  font-size: 1.5rem;
  line-height: 2.8rem;
  width: 65%;
  height: auto;
  margin-bottom: 4rem;
  text-align: center; }
  @media only screen and (max-width: 960px) {
    .textButtonParagraph {
      width: 82.5%; } }
  @media only screen and (max-width: 600px) {
    .textButtonParagraph {
      display: none; } }

#textButtonButton {
  border: 2px solid;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 5rem;
  color: #29477c; }
  #textButtonButton #textButtonButtonText {
    font-size: 1.6rem;
    font-weight: normal; }

/* fold four right fit let's be pals*/
#foldFourContainer {
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: rgba(41, 71, 124, 0.06); }

#foldFourSiteContainer {
  justify-content: space-between;
  align-items: center;
  width: 82.5%;
  height: auto;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 960px) {
    #foldFourSiteContainer {
      width: 100%;
      max-width: 100%; } }

#logoRightFitContainer {
  width: auto;
  height: auto;
  margin-bottom: 3rem; }
  #logoRightFitContainer #logoRightFit {
    height: 100%;
    width: 6rem;
    margin: 0 auto; }

#rightFitTop {
  font-size: 3.2rem;
  margin-bottom: 5rem;
  margin-top: 1rem;
  font-weight: normal;
  color: #29477c; }
  @media only screen and (max-width: 600px) {
    #rightFitTop {
      font-size: 2.4rem;
      margin-left: .5rem;
      margin-right: .5rem;
      white-space: nowrap; } }

#rightFitParagraph {
  font-size: 1.5rem;
  line-height: 2.8rem;
  width: 65%;
  height: auto;
  margin-bottom: 4rem;
  text-align: center; }
  @media only screen and (max-width: 960px) {
    #rightFitParagraph {
      width: 82.5%; } }
  @media only screen and (max-width: 600px) {
    #rightFitParagraph {
      display: none; } }

#contactBottomButton {
  border: 2px solid;
  align-items: center;
  justify-content: center;
  width: 19rem;
  height: 5rem;
  color: #29477c; }
  #contactBottomButton #bottomButtonText {
    font-size: 1.6rem;
    font-weight: normal; }

/* footer w/ nav and logo*/
#footerContainer {
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: rgba(41, 71, 124, 0.76); }

#footerSiteContainer {
  width: 82.5%;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 0; }

#footerLeftContainer {
  align-items: flex-start;
  justify-content: space-between;
  height: 80%; }
  #footerLeftContainer #footerLeftTop {
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    width: 100%; }
    #footerLeftContainer #footerLeftTop img {
      width: 25%;
      height: auto;
      margin-bottom: 2.4rem; }
  #footerLeftContainer #footerCopyright {
    font-size: 1.6rem;
    color: white; }

#footerNavContainer {
  justify-content: flex-end;
  align-items: flex-end;
  width: 45%; }

#footerNav {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  color: white; }
  @media only screen and (max-width: 960px) {
    #footerNav {
      flex-direction: column;
      height: auto;
      max-height: auto;
      align-items: flex-end; } }

.footerNavItem {
  transition: .2s ease; }
  .footerNavItem:hover {
    opacity: .7;
    transition: .2s ease;
    cursor: pointer;
    padding-bottom: .3rem;
    border-bottom: 1px solid; }
    @media only screen and (max-width: 960px) {
      .footerNavItem:hover {
        padding-bottom: .5rem;
        border-bottom: none !important; } }
  @media only screen and (max-width: 960px) {
    .footerNavItem {
      padding: .5rem; } }

/* feature icons, fun text, great memories */
.pricing#mobileNavBurger {
  display: none; }
  @media only screen and (max-width: 960px) {
    .pricing#mobileNavBurger {
      display: inline-block;
      z-index: 25;
      color: white;
      font-weight: 300;
      margin-left: 0;
      margin-right: 0;
      max-height: 60%;
      cursor: pointer; }
      .pricing#mobileNavBurger .bar1, .pricing#mobileNavBurger .bar2, .pricing#mobileNavBurger .bar3 {
        display: block;
        z-index: 30;
        width: 35px;
        height: 3px;
        background-color: #29477c;
        margin: 8px 0;
        transition: 0.4s; } }

.pricing#headerContainer {
  background-color: rgba(255, 212, 238, 0.6);
  color: #29477c;
  padding-bottom: 2rem; }
  .pricing#headerContainer #headerNav, .pricing#headerContainer #contactButton {
    color: #29477c; }

#contactButton.pricing:hover {
  background-color: #29477c;
  color: #ffd4ee; }
  #contactButton.pricing:hover #contactButtonText {
    color: #ffd4ee; }

.pricing #featuresPageContainer {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 7rem; }
  @media only screen and (max-width: 660px) {
    .pricing #featuresPageContainer {
      margin-top: 4rem; } }
  .pricing #featuresPageContainer #featuresSiteContainer {
    width: 82.5%;
    height: 100%;
    justify-content: space-between;
    align-items: center; }
    .pricing #featuresPageContainer #featuresSiteContainer #pricingTitle {
      width: 86%;
      height: auto;
      justify-content: space-between;
      align-items: left;
      margin-top: 8rem;
      margin-bottom: 7rem; }
      @media only screen and (max-width: 960px) {
        .pricing #featuresPageContainer #featuresSiteContainer #pricingTitle {
          padding-top: 7rem;
          width: 100%; } }
      @media only screen and (max-width: 660px) {
        .pricing #featuresPageContainer #featuresSiteContainer #pricingTitle {
          margin-bottom: 10rem; } }
      .pricing #featuresPageContainer #featuresSiteContainer #pricingTitle h2 {
        font-size: 6rem;
        font-weight: bold;
        padding-bottom: 3rem;
        color: rgba(41, 71, 124, 0.4); }
      .pricing #featuresPageContainer #featuresSiteContainer #pricingTitle h4 {
        font-size: 2rem;
        line-height: 2.8rem;
        text-align: left;
        color: rgba(41, 71, 124, 0.8); }
        @media only screen and (max-width: 960px) {
          .pricing #featuresPageContainer #featuresSiteContainer #pricingTitle h4 {
            text-align: left; } }
    .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes {
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: auto; }
      @media only screen and (max-width: 1100px) {
        .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes {
          width: 100%;
          max-width: 100%; } }
      @media only screen and (max-width: 600px) {
        .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes {
          flex-direction: row-reverse;
          width: 100%;
          margin-bottom: 10rem; } }
      .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow {
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        height: auto;
        margin-top: 0; }
        @media only screen and (max-width: 800px) {
          .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            align-items: center; } }
        .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare {
          width: 30%;
          max-width: 30%;
          min-height: 100%;
          justify-content: center;
          align-items: center;
          height: auto;
          border: 2px solid rgba(41, 71, 124, 0.6); }
          @media only screen and (max-width: 800px) {
            .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare {
              flex-direction: row;
              width: 70%;
              max-width: 70%;
              align-items: center;
              justify-content: center;
              margin-bottom: 6rem; } }
          @media only screen and (max-width: 660px) {
            .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare {
              max-width: 90%;
              width: 90%; } }
          .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer {
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 3rem;
            margin-bottom: 3rem; }
            @media only screen and (max-width: 800px) {
              .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer {
                margin-bottom: 5rem; } }
            .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .featureTitle {
              text-align: center;
              margin-left: 1.6rem;
              margin-right: 1.6rem;
              margin-bottom: 2rem;
              font-size: 2.6rem;
              color: #29477c; }
            .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .pricePoint {
              font-weight: bold;
              color: rgba(41, 71, 124, 0.4);
              margin-top: 1rem;
              margin-bottom: 3rem; }
              .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .pricePoint .dollarSign {
                font-size: 3rem; }
                @media only screen and (max-width: 800px) {
                  .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .pricePoint .dollarSign {
                    font-size: 5rem; } }
              .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .pricePoint .dollarAmount {
                font-size: 6rem; }
                @media only screen and (max-width: 800px) {
                  .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .pricePoint .dollarAmount {
                    font-size: 8rem; } }
            .pricing #featuresPageContainer #featuresSiteContainer #pricingBoxes .featuresRow .featureSquare .featureTextContainer .featureInfo {
              font-size: 1.6rem;
              line-height: 2.7rem;
              text-align: center;
              margin: 0 2rem;
              color: rgba(41, 71, 124, 0.6); }
.pricing #addOnsContainer {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 660px) {
    .pricing #addOnsContainer {
      margin-top: -1rem; } }
  @media only screen and (max-width: 600px) {
    .pricing #addOnsContainer {
      margin-top: -11rem; } }
  .pricing #addOnsContainer #addOnsSite {
    width: 82.5%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left; }
    .pricing #addOnsContainer #addOnsSite #addOnTitle {
      width: 80%;
      height: auto;
      justify-content: center;
      align-items: flex-start;
      padding-top: 8rem;
      padding-bottom: 3.2rem; }
      @media only screen and (max-width: 960px) {
        .pricing #addOnsContainer #addOnsSite #addOnTitle {
          padding-top: 7rem;
          width: 100%; } }
      @media only screen and (max-width: 660px) {
        .pricing #addOnsContainer #addOnsSite #addOnTitle {
          padding-top: 2rem; } }
      .pricing #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.6rem; }
        @media only screen and (max-width: 860px) {
          .pricing #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer {
            flex-direction: column; } }
        .pricing #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer h2 {
          font-size: 3.2rem;
          font-weight: normal;
          margin-right: 1rem;
          color: rgba(41, 71, 124, 0.4); }
          @media only screen and (max-width: 660px) {
            .pricing #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer h2 {
              font-size: 2.4rem;
              margin-bottom: .5rem; } }
        .pricing #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer #addOnColorChange {
          color: #29477c;
          font-size: 3.2rem;
          font-weight: normal; }
          @media only screen and (max-width: 660px) {
            .pricing #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer #addOnColorChange {
              font-size: 2.4rem; } }
      .pricing #addOnsContainer #addOnsSite #addOnTitle h4 {
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: rgba(41, 71, 124, 0.8); }
        @media only screen and (max-width: 960px) {
          .pricing #addOnsContainer #addOnsSite #addOnTitle h4 {
            text-align: left; } }
        @media only screen and (max-width: 660px) {
          .pricing #addOnsContainer #addOnsSite #addOnTitle h4 {
            margin-bottom: 3rem; } }
    .pricing #addOnsContainer #addOnsSite .featuresContainer {
      margin-top: 3rem;
      justify-content: space-between;
      align-items: center;
      width: 86%;
      height: auto; }
      @media only screen and (max-width: 1100px) {
        .pricing #addOnsContainer #addOnsSite .featuresContainer {
          width: 100%;
          max-width: 100%; } }
      @media only screen and (max-width: 800px) {
        .pricing #addOnsContainer #addOnsSite .featuresContainer {
          flex-direction: row-reverse;
          width: 100%;
          margin-top: -1rem;
          margin-bottom: 10rem; } }
      .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 0; }
        @media only screen and (max-width: 800px) {
          .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            align-items: center;
            margin-top: 4rem; } }
        .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare {
          width: 100%;
          margin-bottom: 4rem;
          flex-direction: row;
          max-width: 100%;
          justify-content: flex-start;
          align-items: center;
          height: auto; }
          @media only screen and (max-width: 800px) {
            .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare {
              flex-direction: row;
              width: 70%;
              max-width: 70%;
              align-items: center;
              justify-content: center;
              margin-top: -3rem; } }
          @media only screen and (max-width: 660px) {
            .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare {
              width: 100%;
              max-width: 100%;
              flex-direction: column;
              justify-content: flex-start; } }
          .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureImage {
            width: 18%;
            height: auto;
            margin: 0 auto; }
            @media only screen and (max-width: 800px) {
              .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureImage {
                width: 40%;
                float: left;
                margin-left: -1.6rem;
                margin-bottom: .4rem; } }
          .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText {
            margin-left: 4.8rem;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: auto;
            margin-top: 0rem;
            margin-bottom: 0rem; }
            @media only screen and (max-width: 800px) {
              .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText {
                margin-bottom: 0rem;
                margin-left: 0rem; } }
            @media only screen and (max-width: 660px) {
              .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText {
                align-items: flex-start; } }
            .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureTitle {
              margin-bottom: 1.6rem;
              font-size: 2rem;
              color: #29477c; }
              @media only screen and (max-width: 660px) {
                .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureTitle {
                  font-size: 2.4rem; } }
            .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureInfo {
              font-size: 1.6rem;
              line-height: 2.7rem;
              text-align: left;
              color: rgba(41, 71, 124, 0.8); }
              @media only screen and (max-width: 660px) {
                .pricing #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureInfo {
                  margin-bottom: 4rem; } }

.pricing.textButtonContainer {
  margin-top: 6rem;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 660px) {
    .pricing.textButtonContainer {
      display: flex; } }
  .pricing.textButtonContainer .textButtonSiteContainer {
    width: 60%;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 660px) {
      .pricing.textButtonContainer .textButtonSiteContainer {
        width: 80%; } }
    .pricing.textButtonContainer .textButtonSiteContainer #keepItSimple {
      justify-content: flex-start; }
      @media only screen and (max-width: 660px) {
        .pricing.textButtonContainer .textButtonSiteContainer #keepItSimple {
          justify-content: center; } }
      .pricing.textButtonContainer .textButtonSiteContainer #keepItSimple .textButtonTitle {
        color: rgba(41, 71, 124, 0.8);
        font-size: 1.6rem;
        line-height: 1.6; }
        @media only screen and (max-width: 800px) {
          .pricing.textButtonContainer .textButtonSiteContainer #keepItSimple .textButtonTitle {
            width: 100%;
            white-space: pre-line;
            margin-left: 0;
            margin-right: 0;
            margin-top: -14rem;
            margin-bottom: 6rem; } }
        .pricing.textButtonContainer .textButtonSiteContainer #keepItSimple .textButtonTitle strong {
          color: #29477c;
          font-size: 2.4rem; }
    .pricing.textButtonContainer .textButtonSiteContainer .button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      color: #29477c;
      width: 20%;
      height: 4rem;
      font-weight: normal;
      border: 2px solid #29477c;
      transition: .2s ease; }
      .pricing.textButtonContainer .textButtonSiteContainer .button:hover {
        background-color: #4f5e7f;
        transition: .2s ease;
        cursor: pointer; }
      .pricing.textButtonContainer .textButtonSiteContainer .button:hover .buttonText {
        color: white;
        cursor: pointer;
        transition: .2s ease; }
      .pricing.textButtonContainer .textButtonSiteContainer .button .buttonText {
        z-index: 5; }
        .pricing.textButtonContainer .textButtonSiteContainer .button .buttonText:hover {
          color: white;
          transition: .2s ease;
          cursor: pointer; }
      @media only screen and (max-width: 960px) {
        .pricing.textButtonContainer .textButtonSiteContainer .button:active {
          background-color: #4f5e7f;
          transition: .2s ease; }
          .pricing.textButtonContainer .textButtonSiteContainer .button:active .buttonText {
            color: white;
            transition: .2s ease; } }
      @media only screen and (max-width: 800px) {
        .pricing.textButtonContainer .textButtonSiteContainer .button {
          width: 40%;
          margin-bottom: -1rem; } }

.pricing#mobileNavBurger {
  display: none; }
  @media only screen and (max-width: 960px) {
    .pricing#mobileNavBurger {
      display: inline-block;
      z-index: 25;
      color: white;
      font-weight: 300;
      margin-left: 0;
      margin-right: 0;
      max-height: 60%;
      cursor: pointer; }
      .pricing#mobileNavBurger .bar1, .pricing#mobileNavBurger .bar2, .pricing#mobileNavBurger .bar3 {
        display: block;
        z-index: 30;
        width: 35px;
        height: 3px;
        background-color: #29477c;
        margin: 8px 0;
        transition: 0.4s; } }

.pricing#headerContainer {
  background-color: rgba(255, 212, 238, 0.3);
  color: #29477c;
  padding-bottom: 2rem; }
  .pricing#headerContainer #headerNav, .pricing#headerContainer #contactButton {
    color: #29477c; }

#contactButton.pricing:hover {
  background-color: #29477c;
  color: #ffd4ee; }
  #contactButton.pricing:hover #contactButtonText {
    color: #ffd4ee; }

#contactHeadContainer {
  align-items: flex-start;
  justify-content: space-between;
  width: 70%;
  margin-top: 14rem;
  margin-bottom: 5rem;
  font-family: helvetica, sans-serif; }
  @media only screen and (max-width: 625px) {
    #contactHeadContainer {
      margin-bottom: 2rem; } }

#contactHead {
  font-size: 6rem;
  color: rgba(41, 71, 124, 0.3);
  margin-bottom: 2rem;
  font-weight: bold; }
  @media only screen and (max-width: 825px) {
    #contactHead {
      font-size: 6rem;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 550px) {
    #contactHead {
      font-size: 4rem;
      margin-bottom: 1rem; } }

#contactSubHead {
  font-size: 3rem;
  color: #29477c;
  margin-top: 0; }
  @media only screen and (max-width: 825px) {
    #contactSubHead {
      font-size: 2rem; } }
  @media only screen and (max-width: 550px) {
    #contactSubHead {
      font-size: 1.6rem; } }

#formPage {
  width: 85%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 825px) {
    #formPage {
      justify-content: flex-start; } }

#formContainer {
  width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 825px) {
    #formContainer {
      justify-content: flex-start;
      margin: 0 auto; } }
  @media only screen and (max-width: 580px) {
    #formContainer {
      margin: 0 0; } }

#newContact {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start; }

@media only screen and (max-width: 600px) {
  label[for=extras] {
    display: none; } }

#extrasBox {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 720px) {
    #extrasBox {
      margin-left: -3rem; } }
  @media only screen and (max-width: 660px) {
    #extrasBox {
      margin-left: -7rem; } }
  @media only screen and (max-width: 600px) {
    #extrasBox {
      display: none; } }

#setOne,
#setTwo,
#setThree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 5rem; }
  @media only screen and (max-width: 825px) {
    #setOne,
    #setTwo,
    #setThree {
      margin-right: 3rem; } }
  @media only screen and (max-width: 560px) {
    #setOne,
    #setTwo,
    #setThree {
      margin-right: 1rem; } }
  @media only screen and (max-width: 500px) {
    #setOne,
    #setTwo,
    #setThree {
      margin-right: -1rem; } }

#submitButton {
  height: 4rem;
  margin-top: 3rem;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  font-weight: normal;
  align-items: center;
  justify-content: flex-end;
  border: 2px solid rgba(41, 71, 124, 0.7);
  font-size: 1.7rem;
  color: rgba(41, 71, 124, 0.7);
  background-color: white; }
  #submitButton:hover {
    color: white;
    background-color: #29477c; }
  #submitButton:hover .buttonText {
    color: white; }
  @media only screen and (max-width: 825px) {
    #submitButton {
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 700px) {
    #submitButton {
      width: 30%;
      max-width: 30%; } }
  @media only screen and (max-width: 440px) {
    #submitButton {
      width: 40%;
      max-width: 40%; } }

textarea,
input[type=text],
input[type=url],
input[type=tel],
input[type=email] {
  font-size: 1.8rem;
  background-color: rgba(41, 71, 124, 0.06);
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
  width: 60rem;
  max-width: 60rem;
  padding-left: 1rem;
  border: none; }
  @media only screen and (max-width: 825px) {
    textarea,
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=email] {
      font-size: 1.6rem;
      max-width: 40rem; } }
  @media only screen and (max-width: 600px) {
    textarea,
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=email] {
      max-width: 30rem; } }
  @media only screen and (max-width: 460px) {
    textarea,
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=email] {
      max-width: 26rem; } }

textarea {
  height: 18rem; }

label {
  font-size: 1.6rem;
  color: #29477c;
  margin-top: 2rem;
  padding-bottom: 1rem; }

.option {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.7); }
  @media only screen and (max-width: 825px) {
    .option {
      font-size: 1.4rem; } }

#prefContactContainer {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%; }
  @media only screen and (max-width: 660px) {
    #prefContactContainer {
      display: none; } }

@media only screen and (max-width: 660px) {
  label[for=prefContact] {
    display: none; } }

input[type=checkbox] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem; }
  @media only screen and (max-width: 1200px) {
    input[type=checkbox] {
      margin-left: 2rem; } }
  @media only screen and (max-width: 560px) {
    input[type=checkbox] {
      margin-left: 3rem; } }

#looking {
  margin-top: 3rem;
  font-size: 2.4rem;
  color: rgba(41, 71, 124, 0.7); }
  @media only screen and (max-width: 600px) {
    #looking {
      display: none; } }

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: rgba(41, 71, 124, 0.06);
  padding: 9px;
  display: inline-block;
  position: relative; }
  @media only screen and (max-width: 650px) {
    input[type=checkbox] {
      padding: 7px; } }

input[type=checkbox]:active, input[type=checkbox]:checked:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }

input[type=checkbox]:checked {
  background-color: #29477c;
  color: #99a1a7; }

input[type=checkbox]:checked:after {
  content: '\2713';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: white; }

input[type=checkbox] {
  padding: 18px; }

input[type=checkbox]:checked:after {
  font-size: 28px;
  left: 6px; }

.pricing#mobileNavBurger {
  display: none; }
  @media only screen and (max-width: 960px) {
    .pricing#mobileNavBurger {
      display: inline-block;
      z-index: 25;
      color: white;
      font-weight: 300;
      margin-left: 0;
      margin-right: 0;
      max-height: 60%;
      cursor: pointer; }
      .pricing#mobileNavBurger .bar1, .pricing#mobileNavBurger .bar2, .pricing#mobileNavBurger .bar3 {
        display: block;
        z-index: 30;
        width: 35px;
        height: 3px;
        background-color: #29477c;
        margin: 8px 0;
        transition: 0.4s; } }

.pricing#headerContainer {
  background-color: rgba(255, 212, 238, 0.3);
  color: #29477c;
  padding-bottom: 2rem; }
  .pricing#headerContainer #headerNav, .pricing#headerContainer #contactButton {
    color: #29477c; }

#contactButton.pricing:hover {
  background-color: #29477c;
  color: #ffd4ee; }
  #contactButton.pricing:hover #contactButtonText {
    color: #ffd4ee; }

#aboutContainer {
  align-items: center;
  justify-content: center;
  margin-top: 16rem;
  width: 100%;
  max-width: 100%;
  height: auto; }
  #aboutContainer #aboutSite {
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    height: auto; }
    #aboutContainer #aboutSite #aboutTop {
      align-items: flex-start;
      justify-content: flex-start;
      width: 35%;
      max-width: 35%;
      height: auto;
      margin-right: 45%;
      margin-bottom: -38rem; }
      @media only screen and (max-width: 1200px) {
        #aboutContainer #aboutSite #aboutTop {
          margin-top: 10rem; } }
      @media only screen and (max-width: 960px) {
        #aboutContainer #aboutSite #aboutTop {
          margin-top: 2rem; } }
      #aboutContainer #aboutSite #aboutTop h2 {
        font-size: 6rem;
        color: rgba(41, 71, 124, 0.4);
        padding-bottom: 2rem;
        font-weight: bold; }
        @media only screen and (max-width: 1200px) {
          #aboutContainer #aboutSite #aboutTop h2 {
            font-size: 8rem; } }
        @media only screen and (max-width: 960px) {
          #aboutContainer #aboutSite #aboutTop h2 {
            padding-bottom: 4rem; } }
        @media only screen and (max-width: 870px) {
          #aboutContainer #aboutSite #aboutTop h2 {
            padding-bottom: 8rem; } }
        @media only screen and (max-width: 760px) {
          #aboutContainer #aboutSite #aboutTop h2 {
            padding-bottom: 12rem;
            font-size: 6rem; } }
        @media only screen and (max-width: 640px) {
          #aboutContainer #aboutSite #aboutTop h2 {
            padding-bottom: 14rem; } }
        @media only screen and (max-width: 560px) {
          #aboutContainer #aboutSite #aboutTop h2 {
            font-size: 4rem;
            padding-bottom: 20rem; } }
      #aboutContainer #aboutSite #aboutTop p {
        font-size: 1.8rem;
        color: rgba(41, 71, 124, 0.8);
        line-height: 1.6;
        width: 100%; }
        @media only screen and (max-width: 1200px) {
          #aboutContainer #aboutSite #aboutTop p {
            display: none; } }
    #aboutContainer #aboutSite #aboutMiddle {
      justify-content: center;
      align-items: baseline;
      width: 100%;
      max-width: 100%; }
      @media only screen and (max-width: 1200px) {
        #aboutContainer #aboutSite #aboutMiddle {
          margin-top: 6rem;
          margin-bottom: -10rem; } }
      #aboutContainer #aboutSite #aboutMiddle #aboutTopLeft {
        justify-content: center;
        align-items: baseline;
        margin-right: 0rem;
        width: 100%;
        max-width: 100%;
        height: auto; }
        #aboutContainer #aboutSite #aboutMiddle #aboutTopLeft #headImageLeft {
          width: 100%;
          max-width: 100%;
          justify-content: flex-end;
          align-items: baseline;
          height: auto; }
          #aboutContainer #aboutSite #aboutMiddle #aboutTopLeft #headImageLeft img {
            width: 100%;
            max-width: 100%;
            height: auto; }
      #aboutContainer #aboutSite #aboutMiddle #aboutTopRight {
        justify-content: center;
        align-items: baseline;
        margin-left: 0rem;
        width: 100%;
        max-width: 100%;
        height: auto; }
        #aboutContainer #aboutSite #aboutMiddle #aboutTopRight #headImageRight {
          width: 100%;
          max-width: 100%;
          height: auto;
          justify-content: flex-start;
          align-items: baseline; }
          #aboutContainer #aboutSite #aboutMiddle #aboutTopRight #headImageRight img {
            width: 100%;
            max-width: 100%;
            height: auto; }
    #aboutContainer #aboutSite #mobileTextContainer {
      display: none; }
      @media only screen and (max-width: 1200px) {
        #aboutContainer #aboutSite #mobileTextContainer {
          display: block;
          width: 80%;
          justify-content: center;
          align-items: center; } }
      @media only screen and (max-width: 960px) {
        #aboutContainer #aboutSite #mobileTextContainer {
          margin-top: 2rem; } }
      @media only screen and (max-width: 800px) {
        #aboutContainer #aboutSite #mobileTextContainer {
          margin-top: 6rem; } }
      @media only screen and (max-width: 600px) {
        #aboutContainer #aboutSite #mobileTextContainer {
          margin-top: 8rem; } }
      #aboutContainer #aboutSite #mobileTextContainer p {
        font-size: 1.8rem;
        color: rgba(41, 71, 124, 0.8);
        line-height: 1.6; }

.aboutUs #addOnsContainer {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: -10rem; }
  @media only screen and (max-width: 1200px) {
    .aboutUs #addOnsContainer {
      margin-top: 0; } }
  @media only screen and (max-width: 660px) {
    .aboutUs #addOnsContainer {
      margin-top: -0rem; } }
  .aboutUs #addOnsContainer #addOnsSite {
    width: 90%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: left; }
    .aboutUs #addOnsContainer #addOnsSite #addOnTitle {
      width: 80%;
      height: auto;
      justify-content: center;
      align-items: flex-start;
      padding-top: 6rem;
      padding-bottom: 2.2rem; }
      @media only screen and (max-width: 960px) {
        .aboutUs #addOnsContainer #addOnsSite #addOnTitle {
          padding-top: 7rem;
          width: 100%; } }
      @media only screen and (max-width: 660px) {
        .aboutUs #addOnsContainer #addOnsSite #addOnTitle {
          padding-top: 2rem; } }
      .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.6rem; }
        @media only screen and (max-width: 800px) {
          .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer {
            flex-direction: column; } }
        .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer h2 {
          font-size: 3.2rem;
          font-weight: normal;
          margin-right: 1rem;
          color: rgba(41, 71, 124, 0.6); }
          @media only screen and (max-width: 800px) {
            .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer h2 {
              font-size: 2.4rem;
              margin-bottom: .5rem; } }
          @media only screen and (max-width: 660px) {
            .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer h2 {
              margin-top: 2rem; } }
          @media only screen and (max-width: 500px) {
            .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer h2 {
              margin-top: 4rem; } }
        .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer #addOnColorChange {
          color: #29477c;
          font-size: 3.2rem;
          font-weight: 300; }
          @media only screen and (max-width: 660px) {
            .aboutUs #addOnsContainer #addOnsSite #addOnTitle #addOnColorContainer #addOnColorChange {
              font-size: 3rem; } }
      .aboutUs #addOnsContainer #addOnsSite #addOnTitle h4 {
        font-size: 1.6rem;
        line-height: 2.8rem;
        color: rgba(41, 71, 124, 0.8); }
        @media only screen and (max-width: 960px) {
          .aboutUs #addOnsContainer #addOnsSite #addOnTitle h4 {
            text-align: left; } }
        @media only screen and (max-width: 660px) {
          .aboutUs #addOnsContainer #addOnsSite #addOnTitle h4 {
            margin-bottom: 3rem; } }
    .aboutUs #addOnsContainer #addOnsSite .featuresContainer {
      margin-top: 3rem;
      justify-content: space-between;
      align-items: center;
      width: 86%;
      height: auto; }
      @media only screen and (max-width: 1100px) {
        .aboutUs #addOnsContainer #addOnsSite .featuresContainer {
          width: 100%;
          max-width: 100%; } }
      @media only screen and (max-width: 800px) {
        .aboutUs #addOnsContainer #addOnsSite .featuresContainer {
          flex-direction: row-reverse;
          width: 100%;
          margin-top: -1rem;
          margin-bottom: 10rem; } }
      .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow {
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 0; }
        @media only screen and (max-width: 800px) {
          .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow {
            flex-direction: column;
            width: 100%;
            max-width: 100%;
            align-items: center;
            margin-top: 4rem; } }
        .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare {
          width: 100%;
          margin-bottom: 4rem;
          flex-direction: row;
          max-width: 100%;
          justify-content: flex-start;
          align-items: center;
          height: auto; }
          @media only screen and (max-width: 800px) {
            .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare {
              flex-direction: row;
              width: 70%;
              max-width: 70%;
              align-items: center;
              justify-content: center;
              margin-top: -3rem; } }
          @media only screen and (max-width: 800px) {
            .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare {
              width: 100%;
              max-width: 100%;
              flex-direction: column;
              justify-content: flex-start; } }
          .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureImage {
            width: 18%;
            height: auto;
            margin: 0 auto; }
            @media only screen and (max-width: 800px) {
              .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureImage {
                width: 24%;
                float: left;
                margin-left: -1.6rem;
                margin-top: 0rem;
                margin-bottom: 0drem; } }
            @media only screen and (max-width: 660px) {
              .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureImage {
                width: 40%;
                float: left;
                margin-left: -2rem;
                margin-bottom: 0rem; } }
          .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText {
            margin-left: 4.8rem;
            justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            height: auto;
            margin-top: 0rem;
            margin-bottom: 0rem; }
            @media only screen and (max-width: 800px) {
              .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText {
                margin-bottom: 0rem;
                margin-left: 0rem; } }
            @media only screen and (max-width: 800px) {
              .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText {
                align-items: flex-start; } }
            .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureTitle {
              margin-bottom: 1.6rem;
              font-size: 2rem;
              color: #29477c; }
              @media only screen and (max-width: 800px) {
                .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureTitle {
                  font-size: 1.8rem; } }
              @media only screen and (max-width: 660px) {
                .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureTitle {
                  font-size: 2.4rem; } }
            .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureInfo {
              font-size: 1.6rem;
              line-height: 2.7rem;
              text-align: left;
              color: rgba(41, 71, 124, 0.8); }
              @media only screen and (max-width: 660px) {
                .aboutUs #addOnsContainer #addOnsSite .featuresContainer .featuresRow .featureSquare .featureText .featureInfo {
                  margin-bottom: 4rem; } }

.aboutUs .button {
  margin: 4rem 0; }
  @media only screen and (max-width: 800px) {
    .aboutUs .button {
      margin-top: 0rem; } }
  @media only screen and (max-width: 600px) {
    .aboutUs .button {
      display: block; } }

/*# sourceMappingURL=style.css.map */
